node_modules/*
downloads/*
!downloads/.your_mp3_files_will_be_saved_here
.env
yarn-error.log
WWebJS
.venv/*
.wwebjs_auth/*
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
.vscode/*
.idea/*
.pytest_cache/*
.ruff_cache/*
.mypy_cache/*
.pytest_cache/*
.ruff_cache/*
.mypy_cache/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
.wwebjs_auth/*
.wwebjs_cache/*

profile_data.json
contact.csv
